@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #080808;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.navbar {
    background: none;
    padding: 10px 20px;
    opacity: 90%;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: rgb(184, 0, 0);
}

.navbar a:hover {
    color:rgb(184, 0, 0)
}
.navbar-collapse {
    justify-content: flex-end;
}


.description {
    padding-top: 250px;
    text-align: center;
}

.description .accordian {
    min-width: 100%;
}

.description h1 {
    color: #b80000;
}

.description p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
}

.description button {
    border: 1px solid #222;
    background-color:#080808;
    color: #fff;
}

.description button:hover {
    border: 1px solid #111;
    background-color: #080808;
    color:#b80000;
}


.portfolio-items h2 a:hover {
    color: white;
}

.portfolio-items h2 a {
    text-decoration: none;
    color: #333
}

.mModal {
    /* display: none; */
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding-top: 45vh;
    height: 100%;
    width: 100%;
    vertical-align: auto;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.mModalContent {
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    padding: 20px;
    border: 2px solid #222;
    background-color: #111;
}

/* Close button for modal */
.close1 {
    float: right;
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.close1:hover {
    color:#b80000
}

/* Form */
#email { 
    background-color: #222;
    border: none;
    color: white;
}
#submit {
    background-color: #111;

    color: white;
}



@media only screen and (max-width: 600px) {
    .description {
        padding-top: 100px;
    }
}

